
body{
 
    background-color: rgb(245, 210, 147);
}

 .chat-header{
display: flex;
align-items: center;
padding: 1px;
position: fixed;
top: 0;
width: 100%;
background-color: rgb(250, 225, 144);
box-shadow: 4px 4px  4px rgb(194, 172, 152);
}


.logo{
 height: 20%;
  width:10%;
margin-right: 5px;

}

.logo-container{
    display: flex;
    align-items: center;
 
width: 20%;
}